* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #e9ecef;
}
.tituloSection {
  font-family: "Amatic SC";
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  text-align: center;
  color: #ce1212;
}
